@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  background-color: #aaa;
  margin: 10px;
}

h1 {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 28px;
  font-family: inherit;
}

p {
  text-align: center;
  color: rgb(255, 255, 255);
}

img {
  width: 100%;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.container > div {
  cursor: pointer;
}

.hidden {
  display: none;
}

.btn {
  background-color: rgba(255, 255, 255, 0.4);
  border: 0;
  border-radius: 3px;
  padding: 8px;
  font-size: 13px;
  font-weight: bold;
  margin: 10px;
}

.btn a {
  color: #000;
  text-decoration: none;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.9);
}
