* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right top, #44695d, #1e4b43);
  z-index: -1;
}

nav {
  display: grid;
  grid-template-columns: 10% 1fr 1fr 10%;
  min-height: 10vh;
  color: #fff;
  align-items: flex-end;
}

#logo {
  grid-column: 2/3;
  font-size: 2rem;
  cursor: pointer;
}
.hamburger {
  justify-self: end;
  font-size: 1.8rem;
  cursor: pointer;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.hero {
  position: relative;
  height: 60%;
  width: 100%;
}

.hero img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.hero::after {
  content: '';
  background: #000;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.2;
}

.headline {
  position: absolute;
  top: 75%;
  left: 10%;
  font-size: 3.5rem;
  color: #fff;
  transform: translate(-20%, -70%);
  z-index: 3;
}
